[submodule "cose371-databases-project"]
	path = cose371-databases-project
	url = https://github.com/jseop-lim/used-bookstore
[submodule "cose341-operating-systems-project"]
	path = cose341-operating-systems-project
	url = https://github.com/jseop-lim/cpu-scheduling-simulator-python
[submodule "cose362-machine-learning-em"]
	path = cose362-machine-learning-em
	url = https://github.com/jseop-lim/em
[submodule "cose362-machine-learning-dnn"]
	path = cose362-machine-learning-dnn
	url = https://github.com/jseop-lim/dnn
[submodule "cose474-deep-learning"]
	path = cose474-deep-learning
	url = https://github.com/jseop-lim/cose474-deep-learning
[submodule "cose222-computer-architecture-project"]
	path = cose222-computer-architecture-project
	url = https://github.com/jseop-lim/cose222-computer-architecture-project
[submodule "cose212-programming-language"]
	path = cose212-programming-language
	url = https://github.com/jseop-lim/cose212-programming-language
[submodule "imen358-quality-control"]
	path = imen358-quality-control
	url = https://github.com/jseop-lim/imen358-quality-control
